@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: #2e2e2e;
  color: #fff;
}
/* general effect */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #867772;
  font-size: 12px;
}

h4,
h5,
h6,
p {
  color: #867772;
}
p {
  font-size: 12px;
}
h2 {
  color: #ebccc2;
  font-weight: 150;
}

/* header */
header {
  position: sticky;
  top: 0;
}
header,
header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3.5%;
}
header div .S_media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 50px;
}
header div .S_media li {
  margin-left: 8%;
  align-items: center;
}
header > img {
  width: 3%;
}
header div a:hover {
  color: #fff;
  text-decoration: underline;
}
/* side navbar */
aside {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 0%;
  padding: 5% 25%;
}
aside div a {
  margin: 0 5px;
}

aside .line {
  display: none;
}
aside i {
  visibility: hidden;
}
header div {
  visibility: hidden;
}

h2 {
  font-size: 2em;
  padding: 10% 25% 0;
  width: 50%;
  text-align: center;
  margin-bottom: 5%;
}
h5 {
  font-size: 1em;
  width: 60%;
  text-align: center;
  padding: 0 20%;
  margin-bottom: 5%;
}
form fieldset {
  border: 5px solid #867772;
  width: 80%;
  height: 30vh;
  margin: 5% 10%;
  color: #ebccc2;
}
form fieldset div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10%;
}
label {
  font-size: 2em;
  margin: 5% 5% 0 10%;
}
input {
  font-size: 1em;
  width: 30%;
  height: 3vh;
  background-color: rgb(234, 204, 194);
  margin-top: 5%;
}
#email {
  margin-left: 7%;
}
input[type="button"] {
  margin: 5% 30%;
  width: 40%;
  height: 4vh;
}

farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff /
  rgb(115, 115, 115);
