@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #2e2e2e;
}
/* general effect */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #867772;
  font-size: 12px;
}

h4,
h5,
h6,
p {
  color: #867772;
}
p {
  font-size: 12px;
}
h2 {
  color: #ebccc2;
  font-weight: 150;
}

/* header */
header {
  position: sticky;
  top: 0;
}
header,
header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3.5%;
}
header div .S_media {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px;
}
header div .S_media li {
  margin-left: 8%;
}
header > img {
  width: 3%;
}
header div a:hover {
  color: #fff;
  text-decoration: underline;
}
/* side navbar */
aside {
  width: 50%;
  position: absolute;
  top: 30%;
  position: fixed;
  padding-left: 2%;
}
aside div a {
  margin-left: 4%;
}
aside div i {
  color: #867772;
  height: 6%;
}
aside div a:hover {
  color: #fff;
}

aside div .line {
  border-left: 3px solid #867772;
  height: 40px;
  margin-left: 1%;
  margin-bottom: 5%;
}

/* inspiration */
#inspiration {
  padding: 5% 15%;
}
#inspiration video {
  width: 100%;
  height: 60vh;
  margin-bottom: 5%;
}
section article {
  padding: 0 15%;
}

section h5 {
  font-size: 1.5em;
  color: #ebccc2;
  font-weight: 100;
  margin-bottom: 3%;
}
section h2 {
  font-size: 2.5em;
  margin-bottom: 5%;
}
section p {
  font-size: 1em;
  font-weight: 100;
}
section article:first-child ul li {
  display: inline-block;
  border: 1px solid white;
  padding: 0.8% 3%;
  margin-bottom: 2%;
}
section article:first-child p {
  margin-bottom: 20%;
}
section article:last-child {
  margin-bottom: 20%;
}
section article:last-child div:first-child,
section article:last-child div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
section article:last-child div:first-child div,
section article:last-child div:last-child div {
  display: inline-block;
  padding-left: 5%;
}

section article:last-child img {
  width: 50%;
}
section article:last-child p {
  line-height: 180%;
  letter-spacing: 2px;
}

/* laptop */
@media screen and (max-width: 992px) {
  body {
    /* background-color: yellow; */
  }
}

/* smartphone */
@media screen and (max-width: 600px) {
  body {
    /* background-color: mediumseagreen; */
  }
  aside {
    display: flex;
    justify-content: space-evenly;
    top: 0%;
    padding: 0% 25%;
    text-align: center;
  }
  aside div a {
    margin: 0 5px;
    cursor: pointer;
    transition: transform 300ms ease;
  }
  aside div a:hover {
    transform: scale(2.1);
  }
  aside .line {
    display: none;
  }
  aside i {
    visibility: hidden;
  }
  header div {
    visibility: hidden;
  }
  #inspiration {
    padding: 0 15%;
  }
  #inspiration video {
    width: 100%;
    height: 30vh;
    margin-bottom: 5%;
  }
  section article {
    padding: 0 15%;
  }

  section h5 {
    font-size: 0.5em;
    color: #ebccc2;
    font-weight: 100;
    margin-bottom: 2%;
  }
  section h2 {
    font-size: 1em;
    margin-bottom: 3%;
  }
  section p {
    font-size: 0.5em;
  }
  section article:first-child ul li {
    border: 1px solid white;
    width: 10%;
    height: 3vh;
    margin-bottom: 2%;
  }
  section article:first-child ul li a {
    font-size: 8px;
  }
  section article:first-child p {
    margin-bottom: 5%;
  }
  section article:last-child {
    margin-bottom: 5%;
  }
  section article:last-child img {
    width: 50%;
    height: 25vh;
  }
  section article:last-child p {
    line-height: 130%;
    letter-spacing: 1px;
  }
}

farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff /
  rgb(115, 115, 115);
