@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #2e2e2e;
}
/* general effect */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #867772;
  font-size: 12px;
}

h4,
h5,
h6,
p {
  color: #867772;
}
p {
  font-size: 12px;
}
h2 {
  color: #ebccc2;
  font-weight: 150;
}

/* header */
header {
  position: sticky;
  top: 0;
}
header,
header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3.5%;
}
header div .S_media {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px;
}
header div .S_media li {
  margin-left: 8%;
}
header > img {
  width: 3%;
}
header div a:hover {
  color: #fff;
  text-decoration: underline;
}
/* side navbar */
aside {
  width: 50%;
  position: absolute;
  top: 35%;
  position: fixed;
  padding-left: 2%;
}
aside div a {
  margin-left: 4%;
}
aside div i {
  color: #867772;
  height: 6%;
}
aside div i {
  color: #867772;
  height: 6%;
  cursor: pointer;
  transition: transform 300ms ease;
}
aside a:hover,
aside i:hover {
  color: #fff;
  transform: scale(2.1);
}

aside div .line {
  border-left: 3px solid #867772;
  height: 40px;
  margin-left: 1%;
  margin-bottom: 5%;
}
#Lounger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%;
  height: 100vh; */
}
#Lounger img {
  width: 57%;
  height: 100vh;
}
#Lounger article {
  padding: 0 6%;
  width: 50%;
  height: 100vh;
}
#Lounger article h2 {
  padding-top: 60%;
  margin-bottom: 30%;
  font-size: 2em;
}
#Lounger article p {
  line-height: 160%;
  margin-bottom: 7%;
  font-size: 1em;
}

/* laptop */
@media screen and (max-width: 992px) {
  body {
    /* background-color: yellow;
  } */
  }

  /* smartphone */
  @media screen and (max-width: 600px) {
    body {
      /* background-color: mediumseagreen; */
    }
    aside {
      display: flex;
      justify-content: space-evenly;
      top: 0%;
      padding: 0% 25%;
      text-align: center;
    }
    aside div a {
      margin: 0 5px;
      cursor: pointer;
      transition: transform 300ms ease;
    }
    aside div a:hover {
      transform: scale(2.1);
    }
    aside .line {
      display: none;
    }
    aside i {
      visibility: hidden;
    }
    header div {
      visibility: hidden;
    }
  }
  #Lounger {
    display: block;
  }

  #Lounger img {
    width: 100%;
    height: 40vh;
  }
  #Lounger article {
    padding: 0 6%;
    width: 50%;
    height: 30vh;
    text-align: center;
    margin: 0 auto;
  }
  #Lounger article h2 {
    padding-top: 30%;
    margin-bottom: 10%;
    font-size: 1em;
  }
  #Lounger article p {
    text-align: start;
    line-height: 130%;

    font-size: 0.5em;
  }
}

farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff /
  rgb(115, 115, 115);
