@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #2e2e2e;
}
/* general effect */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #867772;
  font-size: 12px;
}

h4,
h5,
h6,
p {
  color: #867772;
}
p {
  font-size: 12px;
}
h2 {
  color: #ebccc2;
}

/* header */
header {
  position: sticky;
  top: 0;
}
header,
header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3.5%;
}
header div .S_media {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px;
}
header div .S_media li {
  margin-left: 8%;
}
header > img {
  width: 3%;
}
header div a:hover {
  color: #fff;
  text-decoration: underline;
}
/* side navbar */
aside {
  width: 40%;
  position: absolute;
  top: 15%;
  position: fixed;
}
aside nav ul li {
  padding: 5% 0%;
  margin-left: 15%;
}
aside nav ul li a:hover {
  color: #fff;
}

/* About */
#About {
  text-align: center;
  padding: 0 5%;
}
#About div:first-child h2 {
  width: 30%;
  padding: 5% 20%;
  text-align: start;
  font-weight: 150;
}
#About div:first-child img {
  width: 100%;
  height: 45vh;
  /* margin-bottom: 10%; */
}
#About div:last-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10% 4% 0;
  /* margin-bottom: 10%; */
}

#About div:last-child img {
  width: 38%;
  height: 30%;
}
#About div:last-child article {
  width: 41%;
  text-align: start;
}
#About div:last-child article h2 {
  margin-bottom: 5%;
}
#About div:last-child article p {
  line-height: 150%;
  margin-bottom: 3%;
}
#Lounger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
}
#Lounger img {
  width: 50%;
  height: 40vh;
}
#Lounger article {
  padding: 0 5%;
  width: 50%;

  /* height: 50vh; */
}
#Lounger article h2 {
  margin-bottom: 10%;
}
#Lounger article p {
  line-height: 150%;
  margin-bottom: 3%;
}

/* laptop */
@media screen and (max-width: 992px) {
  body {
    background-color: yellow;
  }
}

/* smartphone */
@media screen and (max-width: 600px) {
  body {
    background-color: mediumseagreen;
  }
}

farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff /
  rgb(115, 115, 115);
