@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #2e2e2e;
}
/* general effect */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #867772;
  font-size: 12px;
}

h4,
h5,
h6,
p {
  color: #867772;
}
h2 {
  color: #ebccc2;
}

/* header */
header {
  position: sticky;
  top: 0;
}
header,
header .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
}
header div .S_media {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px;
}
header div .S_media li {
  margin-left: 8%;
}
header > img {
  width: 3%;
}
header div a:hover {
  color: #fff;
  text-decoration: underline;
}
#About {
  text-align: center;
}
#About h2 {
  width: 30%;
  padding: 7% 20%;
  /* text-align: center; */
}
#About img {
  width: 90%;
  height: 50%;
  margin-bottom: 5%;
}
/* laptop */
@media screen and (max-width: 992px) {
  body {
    background-color: yellow;
  }
}

/* smartphone */
@media screen and (max-width: 600px) {
  body {
    background-color: mediumseagreen;
  }
}

farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff /
  rgb(115, 115, 115);
